In [2]:
import pandas as pd
import numpy as np

In [6]:
!pip install openpyxl


# Load ESG Industrial Dataset
file_path = "../data/raw/esg_dataset.xlsx"

# Try to read the first sheet
df_esg = pd.read_excel(file_path)

# Show the first 5 rows
df_esg.head()

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\python312\lib\site-packages (from openpyxl) (2.0.0)

,Identifier (RIC),Company Name,Date,ESG_score,Social_score,Gov_score,Env_score,BVPS,Market_cap,Shares,...,Women_Employees,Human_Rights,Strikes,Turnover_empl,Board_Size,Shareholder_Rights,Board_gen_div,Bribery,Recycling_Initiatives,Total_assets
0,AAL,American Airlines Group Inc,2021,59.029107,64.286018,56.398116,54.385152,-11.397250,1.019831e+10,644015000.0,...,41.000,1.0,1.0,5.800,10.0,1.0,20.000000,1.0,0.0,66467000000
1,AAL,American Airlines Group Inc,2020,69.401178,68.814485,83.943615,56.966001,-14.191300,1.062675e+10,483888000.0,...,41.618,1.0,0.0,5.500,12.0,1.0,16.666667,1.0,0.0,62008000000
2,AAL,American Airlines Group Inc,2019,69.369228,72.445059,77.107110,58.218146,-0.266148,1.057482e+10,444269000.0,...,41.654,1.0,1.0,4.242,13.0,1.0,15.384615,1.0,0.0,59995000000
3,AAL,American Airlines Group Inc,2018,71.633022,72.045741,83.069623,60.683735,-0.364039,1.119801e+10,465660000.0,...,42.452,1.0,0.0,5.613,13.0,1.0,15.384615,1.0,0.0,60580000000
4,AAL,American Airlines Group Inc,2017,69.791371,73.983118,78.632046,56.144229,-1.594557,1.133434e+10,491692000.0,...,42.505,1.0,0.0,7.139,13.0,1.0,15.384615,1.0,0.0,52785000000

In [7]:
df_esg.tail()

,Identifier (RIC),Company Name,Date,ESG_score,Social_score,Gov_score,Env_score,BVPS,Market_cap,Shares,...,Women_Employees,Human_Rights,Strikes,Turnover_empl,Board_Size,Shareholder_Rights,Board_gen_div,Bribery,Recycling_Initiatives,Total_assets
715,XYL,Xylem Inc,2016,67.115359,57.058739,77.612476,69.355551,12.227806,1.577733e+10,180000000.0,...,NaN,1.0,0.0,NaN,11.0,1.0,9.090909,1.0,0.0,6474000000
716,XYL,Xylem Inc,2015,61.882112,58.188339,64.675067,63.590439,11.520177,1.585829e+10,181700000.0,...,NaN,1.0,0.0,NaN,10.0,1.0,10.000000,1.0,0.0,4657000000
717,XYL,Xylem Inc,2014,48.574094,52.630565,27.706243,61.531899,11.616603,1.619290e+10,184200000.0,...,NaN,1.0,0.0,NaN,10.0,1.0,20.000000,1.0,0.0,4833000000
718,XYL,Xylem Inc,2013,48.572100,47.175043,37.068627,59.684741,12.099387,1.630984e+10,186038000.0,...,NaN,1.0,0.0,NaN,9.0,1.0,22.222222,1.0,0.0,4896000000
719,XYL,Xylem Inc,2012,47.805442,46.238372,36.845520,58.650878,11.162540,1.615692e+10,186200000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4679000000

In [8]:
# Dataset shape
print("Rows:", df_esg.shape[0])
print("Columns:", df_esg.shape[1])

# List column names
df_esg.columns.tolist()

Rows: 720
Columns: 35

['Identifier (RIC)',
 'Company Name',
 'Date',
 'ESG_score',
 'Social_score',
 'Gov_score',
 'Env_score',
 'BVPS',
 'Market_cap',
 'Shares',
 'Industry',
 'Net_income',
 'RETURN_ON_ASSET',
 'QUICK_RATIO',
 'ASSET_GROWTH',
 'FNCL_LVRG',
 'PE_RATIO',
 'Scope_1',
 'Scope_2',
 'CO2_emissions',
 'Energy_use',
 'Water_use',
 'Water_recycle',
 'Toxic_chem_red',
 'Injury_rate',
 'Women_Employees',
 'Human_Rights',
 'Strikes',
 'Turnover_empl',
 'Board_Size',
 'Shareholder_Rights',
 'Board_gen_div',
 'Bribery',
 'Recycling_Initiatives',
 'Total_assets']

In [9]:
# Check data types
df_esg.dtypes

# Count missing values
df_esg.isnull().sum().sort_values(ascending=False)

Water_recycle            691
Turnover_empl            583
Women_Employees          476
Water_use                431
Injury_rate              394
Energy_use               374
Scope_2                  349
Scope_1                  348
CO2_emissions            285
Board_gen_div            128
Toxic_chem_red            92
Strikes                   92
Recycling_Initiatives     92
Bribery                   91
Human_Rights              91
Board_Size                91
Shareholder_Rights        91
Env_score                 82
ESG_score                 54
Gov_score                 54
Social_score              54
PE_RATIO                  32
FNCL_LVRG                 23
ASSET_GROWTH              22
RETURN_ON_ASSET           22
QUICK_RATIO               18
BVPS                      16
Net_income                10
Shares                     5
Identifier (RIC)           0
Company Name               0
Industry                   0
Market_cap                 0
Date                       0
Total_assets               0
dtype: int64

In [10]:
df_esg.columns = df_esg.columns.str.strip().str.lower().str.replace(' ', '_')

In [11]:
df_esg.head(2)

,identifier_(ric),company_name,date,esg_score,social_score,gov_score,env_score,bvps,market_cap,shares,...,women_employees,human_rights,strikes,turnover_empl,board_size,shareholder_rights,board_gen_div,bribery,recycling_initiatives,total_assets
0,AAL,American Airlines Group Inc,2021,59.029107,64.286018,56.398116,54.385152,-11.39725,1.019831e+10,644015000.0,...,41.000,1.0,1.0,5.8,10.0,1.0,20.000000,1.0,0.0,66467000000
1,AAL,American Airlines Group Inc,2020,69.401178,68.814485,83.943615,56.966001,-14.19130,1.062675e+10,483888000.0,...,41.618,1.0,0.0,5.5,12.0,1.0,16.666667,1.0,0.0,62008000000

In [12]:
df_esg['date'] = pd.to_datetime(df_esg['date'], errors='coerce')
df_esg['date'].head()

0   1970-01-01 00:00:00.000002021
1   1970-01-01 00:00:00.000002020
2   1970-01-01 00:00:00.000002019
3   1970-01-01 00:00:00.000002018
4   1970-01-01 00:00:00.000002017
Name: date, dtype: datetime64[ns]

In [13]:
df_esg = df_esg.drop(columns=['water_recycle', 'turnover_empl'])

In [14]:
# Drop rows with null in essential score columns
df_esg = df_esg.dropna(subset=['esg_score', 'social_score', 'gov_score', 'env_score'])

# Fill small missing values with median (example)
df_esg['pe_ratio'] = df_esg['pe_ratio'].fillna(df_esg['pe_ratio'].median())

In [15]:
print("Rows:", df_esg.shape[0])
print("Columns:", df_esg.shape[1])

Rows: 638
Columns: 33

In [16]:
df_esg.info()
df_esg.isnull().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
Index: 638 entries, 0 to 719
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   identifier_(ric)       638 non-null    object
 1   company_name           638 non-null    object
 2   date                   638 non-null    datetime64[ns]
 3   esg_score              638 non-null    float64
 4   social_score           638 non-null    float64
 5   gov_score              638 non-null    float64
 6   env_score              638 non-null    float64
 7   bvps                   637 non-null    float64
 8   market_cap             638 non-null    float64
 9   shares                 638 non-null    float64
 10  industry               638 non-null    object
 11  net_income             638 non-null    float64
 12  return_on_asset        635 non-null    float64
 13  quick_ratio            635 non-null    float64
 14  asset_growth           635 non-null    float64
 15  fncl_lvrg              634 non-null    float64
 16  pe_ratio               638 non-null    float64
 17  scope_1                372 non-null    float64
 18  scope_2                371 non-null    float64
 19  co2_emissions          435 non-null    float64
 20  energy_use             346 non-null    float64
 21  water_use              289 non-null    float64
 22  toxic_chem_red         602 non-null    float64
 23  injury_rate            326 non-null    float64
 24  women_employees        244 non-null    float64
 25  human_rights           603 non-null    float64
 26  strikes                602 non-null    float64
 27  board_size             603 non-null    float64
 28  shareholder_rights     603 non-null    float64
 29  board_gen_div          584 non-null    float64
 30  bribery                603 non-null    float64
 31  recycling_initiatives  602 non-null    float64
 32  total_assets           638 non-null    int64
dtypes: datetime64[ns](1), float64(28), int64(1), object(3)
memory usage: 169.5+ KB

women_employees          394
water_use                349
injury_rate              312
energy_use               292
scope_2                  267
scope_1                  266
co2_emissions            203
board_gen_div             54
toxic_chem_red            36
strikes                   36
recycling_initiatives     36
board_size                35
human_rights              35
bribery                   35
shareholder_rights        35
fncl_lvrg                  4
return_on_asset            3
asset_growth               3
quick_ratio                3
bvps                       1
identifier_(ric)           0
pe_ratio                   0
company_name               0
net_income                 0
industry                   0
shares                     0
market_cap                 0
env_score                  0
gov_score                  0
social_score               0
esg_score                  0
date                       0
total_assets               0
dtype: int64

In [18]:
!pip install SQLAlchemy pymysql
from sqlalchemy import create_engine

# Replace credentials with your actual info
user = "root"
password = "shraeyaa25//"
host = "localhost"
port = 3306
database = "esg_analysis"

# Create the connection
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

Requirement already satisfied: SQLAlchemy in c:\python312\lib\site-packages (2.0.39)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\python312\lib\site-packages (from SQLAlchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\python312\lib\site-packages (from SQLAlchemy) (4.13.1)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.0 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.0 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.0 kB ? eta -:--:--
   ---------------------------------------- 45.0/45.0 kB 246.3 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
# Replace credentials with your actual info
user = "root"
password = "shraeyaa25//"
host = "localhost"
port = 3306
database = "esg_analysis"

# Create the connection
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

In [20]:
df_esg.to_sql(name="esg_us_industrial", con=engine, if_exists="replace", index=False)

638